*~
*.a
*.bundle
*.lo
*.o
*.so
*.xmlh
autom4te.cache
configure
.configure.*
config.log
config.status
.DS_Store
/Makefile
src/Makefile
src/**/Makefile
src/*.dSYM
src/Makefile.objs
src/Makefile.dep
src/circllhist_config.h
src/circllhist_version.h
src/libcircllhist.so*
src/test/histogram_test
src/lua/ffi_libcircllhist.lua
